:root {
    --primaryFontColor: #464646;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: var(--primaryFontColor);
}

body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container{
    margin: 0 82px;
}

a{
    text-decoration: none;
    color: #000;
}
.container-menu{
    display: flex;
    justify-content: space-between;
    padding: 32px 0;   
    color: var(--primaryFontColor);
}

.container-menu .logo{
    display: flex;
    font-weight: bold;
}

.container-menu .logo h1, .container-menu .logo i{
    font-size: 16px;
}

.container-menu .logo i{
    margin-right: 8px;
}

.container-menu .menu ul{
    display: flex;
    list-style: none;
}

.container-menu .menu ul li{
    margin-left: 32px;  
    font-weight: 500;
}

.container-menu .menu ul li a {
    color: var(--primaryFontColor);
}

.container-menu .menu ul li:nth-child(1){
    margin-left: 0px;
}

/* CONTAINER BANNER */

.container-banner {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    justify-content: space-between;
    align-items: center;
}

.container-banner .info {
    width: 751px;
}

.container-banner .info h2 {
    font-weight: bold;
    font-size: 52px;
}

.container-banner .info p {
    font-size: 22px;
    margin: 22px 0;
}

.container-banner .info .redes ul {
    display: flex;
    list-style: none;
}

.container-banner .info .redes ul li {
    margin-right: 32px;
    font-weight: 500;
    font-size: 16px;
}

.container-banner .info .redes ul li a i{
    margin-left: 4px;
    transform: rotate(-45deg);
}


/* Imagen del banner */


.container-banner .imagen img {
    width: 368px;
    height: 368px;
    object-fit: cover;
    border-radius: 50%;
}
